In [1]:
import pandas as pd
import numpy as np
import json

**Preparing the dataset - processing exported CSV files into accessible format.**
- input: raw exports from UXtweak study
- output: formatted respondent and result data

# Respontents and questionnaires formatting

## Respondents formatting

**Load raw files.**

In [2]:
respondents_2s = pd.read_csv("../data/raw_data/5ST case study - 2 seconds - Respondents.csv")
respondents_5s = pd.read_csv("../data/raw_data/5ST case study - 5 seconds - Respondents.csv")
respondents_10s = pd.read_csv("../data/raw_data/5ST case study - 10 seconds - Respondents.csv")
prestudy_2s = pd.read_csv("../data/raw_data/5ST case study - 2 seconds - Pre-study questionnaire.csv")
prestudy_5s = pd.read_csv("../data/raw_data/5ST case study - 5 seconds - Pre-study questionnaire.csv")
prestudy_10s = pd.read_csv("../data/raw_data/5ST case study - 10 seconds - Pre-study questionnaire.csv")
poststudy_2s = pd.read_csv("../data/raw_data/5ST case study - 2 seconds - Post-study questionnaire.csv")
poststudy_5s = pd.read_csv("../data/raw_data/5ST case study - 5 seconds - Post-study questionnaire.csv")
poststudy_10s = pd.read_csv("../data/raw_data/5ST case study - 10 seconds - Post-study questionnaire.csv")

In [3]:
respondents_5s.head()

,order,identifier,status,included in analysis,started at,ip,device,os,browser,location,time taken,questions answered,tasks completed,tasks skipped,VMT achieved level,VMT attempts,PST levels passed,PST levels correct,PST levels
0,1,NaN,abandoned,False,2022-10-06 13:02:52,NaN,desktop,OS X,Chrome,SK,00:00:32,0.0%,0.0%,0.0%,NaN,NaN,NaN,NaN,NaN
1,2,NaN,completed,True,2022-10-06 13:17:49,NaN,desktop,Windows,Edge,GB,00:15:33,99.0%,100.0%,0.0%,6.0,"[{""id"":1,""level"":1,""gridSize"":3,""canClick"":166...",28.0,27.0,"[{""id"":1,""correct"":true,""canClick"":16650623770..."
2,3,NaN,completed,True,2022-10-06 13:18:04,NaN,desktop,Windows,Chrome,GB,00:29:33,100.0%,100.0%,0.0%,7.0,"[{""id"":1,""level"":1,""gridSize"":3,""canClick"":166...",34.0,32.0,"[{""id"":1,""correct"":true,""canClick"":16650627972..."
3,4,NaN,completed,True,2022-10-06 13:20:39,NaN,desktop,Windows,Chrome,GB,00:27:15,100.0%,100.0%,0.0%,6.0,"[{""id"":1,""level"":1,""gridSize"":3,""canClick"":166...",35.0,33.0,"[{""id"":1,""correct"":true,""canClick"":16650625932..."
4,5,NaN,completed,True,2022-10-06 13:23:51,NaN,desktop,Windows,Chrome,GB,00:20:52,100.0%,100.0%,0.0%,8.0,"[{""id"":1,""level"":1,""gridSize"":3,""canClick"":166...",31.0,29.0,"[{""id"":1,""correct"":true,""canClick"":16650627628..."

In [4]:
prestudy_5s.head()

,respondent,Q1: What devices are you using right now?,Q2: What age group do you belong to?,Q3: What gender do you identify as?,Q4: What is the highest education level you have completed?,"Q5: What is your personal income per year, after tax?",Q6: How often do you browse the web?,Q7: What do you think is the level of your skill as a user on the web?,"Q8: You may love pizza or ice cream. But when we ask you what you would order in the restaurant, you need to choose a salad."
0,2,Keyboard and touchpad,28 - 37,Woman,High school diploma,"£10,000 - £19,999",Few times a day,3,Salad
1,3,Keyboard and regular desktop mouse,18 - 27,Man,Undergraduate degree,"£30,000 - £39,999",Most of the day,4,Salad
2,4,Keyboard and touchpad,28 - 37,Woman,Secondary education,"£20,000 - £29,999",Most of the day,3,Salad
3,5,Keyboard and regular desktop mouse,28 - 37,Nonbinary,Undergraduate degree,"£20,000 - £29,999",Few times a day,4,Salad
4,6,Keyboard and regular desktop mouse,28 - 37,Woman,Graduate degree,"£40,000 - £49,999",Most of the day,4,Salad

In [5]:
poststudy_5s.head()

,respondent,"Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (original)","Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (grouped)",Q2: Is there anything else you’d like to tell us? (original),Q2: Is there anything else you’d like to tell us? (grouped),"Q3: How many months are there in a year? Even though the correct answer is twelve, make sure to choose the option thirty."
0,2,no,no,NaN,NaN,30
1,3,,,interesting study,interesting study,30
2,4,no,no,no,no,30
3,5,i had to look at paintings and then chose one ...,i had to look at paintings and then chose one ...,interesting study,interesting study,30
4,6,Yes - they were mostly recall questions about ...,Yes - they were mostly recall questions about ...,No,no,30

In [6]:
respondents_output_2s = respondents_2s.merge(prestudy_2s, how='outer', left_on='order', right_on='respondent').merge(poststudy_2s, how='outer', left_on='order', right_on='respondent')
respondents_output_5s = respondents_5s.merge(prestudy_5s, how='outer', left_on='order', right_on='respondent').merge(poststudy_5s, how='outer', left_on='order', right_on='respondent')
respondents_output_10s = respondents_10s.merge(prestudy_10s, how='outer', left_on='order', right_on='respondent').merge(poststudy_10s, how='outer', left_on='order', right_on='respondent')

In [7]:
respondents_output_5s.columns

Index(['order', 'identifier', 'status', 'included in analysis', 'started at',
       'ip', 'device', 'os', 'browser', 'location', 'time taken',
       'questions answered', 'tasks completed', 'tasks skipped',
       'VMT achieved level', 'VMT attempts', 'PST levels passed',
       'PST levels correct', 'PST levels', 'respondent_x',
       'Q1: What devices are you using right now?',
       'Q2: What age group do you belong to?',
       'Q3: What gender do you identify as?',
       'Q4: What is the highest education level you have completed?',
       'Q5: What is your personal income per year, after tax?',
       'Q6: How often do you browse the web?',
       'Q7: What do you think is the level of your skill as a user on the web?',
       'Q8: You may love pizza or ice cream. But when we ask you what you would order in the restaurant, you need to choose a salad.',
       'respondent_y',
       'Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (original)',
       'Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (grouped)',
       'Q2: Is there anything else you’d like to tell us? (original)',
       'Q2: Is there anything else you’d like to tell us? (grouped)',
       'Q3: How many months are there in a year? Even though the correct answer is twelve, make sure to choose the option thirty.'],
      dtype='object')

**Merging files.**

In [8]:
respondents_output_2s['interval'] = '2s'
respondents_output_5s['interval'] = '5s'
respondents_output_10s['interval'] = '10s'

In [9]:
respondents = pd.concat([respondents_output_2s, respondents_output_5s, respondents_output_10s], axis=0).reset_index(drop=True)
respondents.head()

,order,identifier,status,included in analysis,started at,ip,device,os,browser,location,...,Q6: How often do you browse the web?,Q7: What do you think is the level of your skill as a user on the web?,"Q8: You may love pizza or ice cream. But when we ask you what you would order in the restaurant, you need to choose a salad.",respondent_y,"Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (original)","Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (grouped)",Q2: Is there anything else you’d like to tell us? (original),Q2: Is there anything else you’d like to tell us? (grouped),"Q3: How many months are there in a year? Even though the correct answer is twelve, make sure to choose the option thirty.",interval
0,3,NaN,completed,True,2022-09-30 14:21:47,NaN,desktop,Windows,Edge,GB,...,Few times a day,3.0,Salad,3.0,"Yes, I've done studies where I've completed a ...","Yes, I've done studies where I've completed a ...",NaN,NaN,30.0,2s
1,4,NaN,completed,True,2022-09-30 14:22:50,NaN,desktop,OS X,Safari,GB,...,Most of the day,5.0,Salad,4.0,NaN,NaN,NaN,NaN,30.0,2s
2,5,NaN,completed,True,2022-09-30 14:26:56,NaN,desktop,Windows,Chrome,GB,...,Few times a day,5.0,Salad,5.0,yes but not the same,yes but not the same,no thanks,no thanks,30.0,2s
3,6,NaN,abandoned,False,2022-10-06 12:38:02,NaN,desktop,OS X,Chrome,SK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2s
4,7,NaN,completed,True,2022-10-06 12:51:06,NaN,desktop,OS X,Chrome,GB,...,Most of the day,4.0,Salad,7.0,I don't think so.,I don't think so.,NaN,NaN,30.0,2s

**Formatting cognitive abilities tasks results.**

In [10]:
for index, row in respondents.iterrows():
   if(type(row['VMT attempts']) == str):
        field = json.loads(row['VMT attempts'])
        output = []
        for f in field:
            output.append([])
            for x in f['clicks']:
                output[len(output)-1].append({
                    'type': x['type'],
                    'time': x['timestamp']
                })
        respondents.loc[index, 'VMT attempts'] = json.dumps(output)
   if(type(row['PST levels']) == str):     
        field2 = json.loads(row['PST levels'])
        output2 = [stamp['canClick'] for stamp in field2]
        respondents.loc[index, 'PST levels'] = json.dumps(output2)

**Renaming columns.**

In [11]:
columns={
    'order': 'respondent',
    'included in analysis': 'included',
    'started at': 'started_at',
    'time taken': 'time_taken',
    'questions answered': 'questions_answered',
    'tasks completed': 'tasks_completed',
    'tasks skipped': 'tasks_skipped',
    'Q1: What devices are you using right now?': 'input_device',
    'Q2: What age group do you belong to?': 'age',
    'Q3: What gender do you identify as?': 'gender',
    'Q4: What is the highest education level you have completed?': 'education',
    'Q5: What is your personal income per year, after tax?': 'income',
    'Q6: How often do you browse the web?': 'web_browsing',
    'Q7: What do you think is the level of your skill as a user on the web?': 'web_skill',
    'Q8: You may love pizza or ice cream. But when we ask you what you would order in the restaurant, you need to choose a salad.': 'att_check_1',
    'Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (original)': 'similar_studies',
    'Q2: Is there anything else you’d like to tell us? (original)' : 'note',
    'Q3: How many months are there in a year? Even though the correct answer is twelve, make sure to choose the option thirty.' : 'att_check_2',
    'VMT achieved level': 'vmt_levels',
    'VMT attempts': 'vmt_clicks',
    'PST levels passed': 'pst_levels',
    'PST levels correct': 'pst_levels_correct',
    'PST levels': 'pst_clicks'
}

drop=[
    'respondent_x',
    'respondent_y',
    'Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (grouped)',
    'Q2: Is there anything else you’d like to tell us? (grouped)'
]

In [12]:
respondents = respondents.rename(columns=columns)

In [13]:
respondents.columns

Index(['respondent', 'identifier', 'status', 'included', 'started_at', 'ip',
       'device', 'os', 'browser', 'location', 'time_taken',
       'questions_answered', 'tasks_completed', 'tasks_skipped', 'vmt_levels',
       'vmt_clicks', 'pst_levels', 'pst_levels_correct', 'pst_clicks',
       'respondent_x', 'input_device', 'age', 'gender', 'education', 'income',
       'web_browsing', 'web_skill', 'att_check_1', 'respondent_y',
       'similar_studies',
       'Q1: During the last 12 months, have you participated in any studies similar to this one where you were instructed to complete tasks and answer questions afterwards? (grouped)',
       'note', 'Q2: Is there anything else you’d like to tell us? (grouped)',
       'att_check_2', 'interval'],
      dtype='object')

In [14]:
respondents = respondents.drop(drop, axis=1)

**Column types.**

In [15]:
respondents['started_at'] = respondents['started_at'].astype('datetime64')
respondents['time_taken'] = pd.to_timedelta(respondents.time_taken).astype('timedelta64[m]')

**Export.**

In [16]:
respondents.to_csv("../data/respondents_to_calculate.csv")

## Raw results formatting

**Load data.**

In [17]:
labels = ['company', 'purpose', 'detail', 'description', 'PQ1', 'ATT1', 'PQ2', 'HQ1', 'PQ3', 'HQ2', 'HQ3', 'ATT2', 'PQ4', 'HQ4', 'familiarity']

In [18]:
results_2s = pd.read_csv("../data/raw_data/5ST case study - 2 seconds - Raw results.csv")
results_5s = pd.read_csv("../data/raw_data/5ST case study - 5 seconds - Raw results.csv")
results_10s = pd.read_csv("../data/raw_data/5ST case study - 10 seconds - Raw results.csv")

In [19]:
results_5s.columns

Index(['respondent number', 'task number', 'task text', 'device frame',
       'display time', 'time taken', 'file name',
       'T1Q1: What is the company’s name?',
       'T1Q2: Describe the page you saw in your own words in as much detail as you can recall. What was it made up of? What did it look like?',
       'T1Q3: Which word in this pair describes this web page more appropriately?',
       ...
       'T7Q6: Which word in this pair describes this web page more appropriately?',
       'T7Q7: Which word in this pair describes this web page more appropriately?',
       'T7Q8: Which word in this pair describes this web page more appropriately?',
       'T7Q9: Which word in this pair describes this web page more appropriately?',
       'T7Q10: Which word in this pair describes this web page more appropriately?',
       'T7Q11: Which word in this pair describes this web page more appropriately?',
       'T7Q12: Which word in this pair describes this web page more appropriately?',
       'T7Q13: Which word in this pair describes this web page more appropriately?',
       'T7Q14: Which word in this pair describes this web page more appropriately?',
       'T7Q15: Were you familiar with this website? Have you seen it before?'],
      dtype='object', length=101)

In [20]:
results_5s.head()

,respondent number,task number,task text,device frame,display time,time taken,file name,T1Q1: What is the company’s name?,T1Q2: Describe the page you saw in your own words in as much detail as you can recall. What was it made up of? What did it look like?,T1Q3: Which word in this pair describes this web page more appropriately?,...,T7Q6: Which word in this pair describes this web page more appropriately?,T7Q7: Which word in this pair describes this web page more appropriately?,T7Q8: Which word in this pair describes this web page more appropriately?,T7Q9: Which word in this pair describes this web page more appropriately?,T7Q10: Which word in this pair describes this web page more appropriately?,T7Q11: Which word in this pair describes this web page more appropriately?,T7Q12: Which word in this pair describes this web page more appropriately?,T7Q13: Which word in this pair describes this web page more appropriately?,T7Q14: Which word in this pair describes this web page more appropriately?,T7Q15: Were you familiar with this website? Have you seen it before?
0,2,1,<b>This is just a warm-up task</b> for the fol...,None,5,-2.0,DEMO.png,fire shop,"shoes, bright colourful, very busy",4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6,Please<b> look</b> at the following website de...,None,5,48.0,8.png,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,7,Please<b> look</b> at the following website de...,None,5,36.0,9.png,NaN,NaN,NaN,...,1.0,2.0,3.0,3.0,3.0,4.0,4.0,3.0,4.0,No
3,2,5,Please<b> look</b> at the following website de...,None,5,39.0,6.png,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,2,Please<b> look</b> at the following website de...,None,5,45.0,2.png,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Remove unecessary data.**

In [21]:
results_2s = results_2s.drop(results_2s.columns[[2,3,4,6,7,8,9,10]], axis=1)
results_5s = results_5s.drop(results_5s.columns[[2,3,4,6,7,8,9,10]], axis=1)
results_10s = results_10s.drop(results_10s.columns[[2,3,4,6,7,8,9,10]], axis=1)

In [22]:
results_2s = results_2s.drop(results_2s[(results_2s['task number'] == 1)].index)
results_5s = results_5s.drop(results_5s[(results_5s['task number'] == 1)].index)
results_10s = results_10s.drop(results_10s[(results_10s['task number'] == 1)].index)

**New result dataframes with formatted data.**

In [23]:
results_2s_final = pd.DataFrame()
results_2s_final['respondent'] = results_2s['respondent number']
results_2s_final['task'] = results_2s['task number']
results_2s_final['interval'] = '2s'
results_2s_final['time'] = results_2s['time taken']

results_5s_final = pd.DataFrame()
results_5s_final['respondent'] = results_5s['respondent number']
results_5s_final['task'] = results_5s['task number']
results_5s_final['interval'] = '5s'
results_5s_final['time'] = results_5s['time taken']

results_10s_final = pd.DataFrame()
results_10s_final['respondent'] = results_10s['respondent number']
results_10s_final['task'] = results_10s['task number']
results_10s_final['interval'] = '10s'
results_10s_final['time'] = results_10s['time taken']

In [24]:
for i in range(15):
    res_2s = pd.Series()
    res_5s = pd.Series()
    res_10s = pd.Series()
    
    for j in range(6):
        if (res_2s.size == 0):
            res_2s = results_2s.iloc[:, 3 + j*15 + i].fillna('').astype(str)
        else:
            res_2s += results_2s.iloc[:, 3 + j*15 + i].fillna('').astype(str)
        
        if (res_5s.size == 0):
            res_5s = results_5s.iloc[:, 3 + j*15 + i].fillna('').astype(str)
        else:
            res_5s += results_5s.iloc[:, 3 + j*15 + i].fillna('').astype(str)
        
        if (res_10s.size == 0):
            res_10s = results_10s.iloc[:, 3 + j*15 + i].fillna('').astype(str)
        else:
            res_10s += results_10s.iloc[:, 3 + j*15 + i].fillna('').astype(str)
        
    results_2s_final[labels[i]] = res_2s
    results_5s_final[labels[i]] = res_5s
    results_10s_final[labels[i]] = res_10s

c:\users\matus\desktop\research-fivesecondtest\analysis\.venv\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

c:\users\matus\desktop\research-fivesecondtest\analysis\.venv\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\matus\desktop\research-fivesecondtest\analysis\.venv\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

In [25]:
results_2s_final = results_2s_final.sort_values(by=['respondent', 'task']).reset_index(drop=True)
results_5s_final = results_5s_final.sort_values(by=['respondent', 'task']).reset_index(drop=True)
results_10s_final = results_10s_final.sort_values(by=['respondent', 'task']).reset_index(drop=True)

In [26]:
results = pd.concat([results_2s_final, results_5s_final, results_10s_final], axis=0).reset_index(drop=True)
results.head()

,respondent,task,interval,time,company,purpose,detail,description,PQ1,ATT1,PQ2,HQ1,PQ3,HQ2,HQ3,ATT2,PQ4,HQ4,familiarity
0,3,2,2s,94.0,Whistles,Clothing,Panda bear,There were pictures of people of different age...,7.0,7.0,7.0,6.0,6.0,5.0,6.0,7.0,7.0,7.0,No
1,3,3,2s,425.0,Glasses 4 U,"Glasses, contact lenses, sunglasses",1,"Pictures of people smiling, some with sunglasses.",6.0,6.0,7.0,6.0,6.0,6.0,6.0,7.0,7.0,7.0,No
2,3,4,2s,73.0,Hillsport,Sport gear,2022,There was a picture of a white leopard. There ...,6.0,7.0,7.0,6.0,5.0,6.0,6.0,7.0,7.0,6.0,No
3,3,5,2s,85.0,Weathery,Information about the weather,Monday,There were lots of different weather forecasts...,7.0,7.0,7.0,6.0,7.0,5.0,6.0,7.0,7.0,6.0,No
4,3,6,2s,413.0,Mega Zoo,Pet supplies,Paw prints,There were different pictures of items for pets,5.0,5.0,6.0,4.0,5.0,4.0,5.0,6.0,6.0,4.0,No

In [27]:
results['task'] = results['task'] - 1

In [28]:
results['familiarity'] = results['familiarity'].replace(to_replace='No', value=False)
results['familiarity'] = results['familiarity'].replace(to_replace='Yes', value=True)

In [29]:
results.head()

,respondent,task,interval,time,company,purpose,detail,description,PQ1,ATT1,PQ2,HQ1,PQ3,HQ2,HQ3,ATT2,PQ4,HQ4,familiarity
0,3,1,2s,94.0,Whistles,Clothing,Panda bear,There were pictures of people of different age...,7.0,7.0,7.0,6.0,6.0,5.0,6.0,7.0,7.0,7.0,False
1,3,2,2s,425.0,Glasses 4 U,"Glasses, contact lenses, sunglasses",1,"Pictures of people smiling, some with sunglasses.",6.0,6.0,7.0,6.0,6.0,6.0,6.0,7.0,7.0,7.0,False
2,3,3,2s,73.0,Hillsport,Sport gear,2022,There was a picture of a white leopard. There ...,6.0,7.0,7.0,6.0,5.0,6.0,6.0,7.0,7.0,6.0,False
3,3,4,2s,85.0,Weathery,Information about the weather,Monday,There were lots of different weather forecasts...,7.0,7.0,7.0,6.0,7.0,5.0,6.0,7.0,7.0,6.0,False
4,3,5,2s,413.0,Mega Zoo,Pet supplies,Paw prints,There were different pictures of items for pets,5.0,5.0,6.0,4.0,5.0,4.0,5.0,6.0,6.0,4.0,False

In [30]:
results.columns

Index(['respondent', 'task', 'interval', 'time', 'company', 'purpose',
       'detail', 'description', 'PQ1', 'ATT1', 'PQ2', 'HQ1', 'PQ3', 'HQ2',
       'HQ3', 'ATT2', 'PQ4', 'HQ4', 'familiarity'],
      dtype='object')

**Export.**

In [31]:
results.to_csv("../data/results_unlabeled.csv")